

*{
    color: white;
/*     font-weight: bold; */
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: #E6EFF6;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    display: grid;
    grid-template-columns: repeat(1,500);
    background: #5f8bbd;
    border-radius: 15px;
    box-shadow: 20px 20px 10px 10px rgba(0, 0, 0, 0.342);
    padding: 20px;
}

.resultados{
    display: flex;
    justify-content: end;
    align-items: center;
    background: #517f83;
    border-radius: 15px;
    margin: 10px 0px;

}

.numeros{
    display: grid;
    grid-template-columns: repeat(3,100px);
    padding: 10px;
    border-radius: 15px;
}

.operaciones{
    display: grid;
    grid-template-columns: repeat(2,150px);
    padding: 10px;
    border-radius: 15px;
}

.tres_col{
    grid-column: span 3;
}

button{
    margin: 3px;
    height: 30px;
    border-radius: 15px;
    background-color: #9E8D77;
    border: none;

}
button:hover{
    background-color: #583D34;
}
button:active{
    background-color: #517F83;
}


label{
    height: 30px;
    padding: 0px 20px;
    align-items: center;
}