.menu li{
    list-style: none;
    display: inline-block;
    font: bold 14px verdana;
    border: solid;
    padding: 15px;
    margin: 5px;
    
}
.cabecera h1, h6{
    text-align: center;
}

.menu{
    background-color: #90e0ef;
    text-align: left;
}

h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

}
body{
    text-align: center;
    background-color: gray;
}

.agrupar{
    border: 1px solid black;
    background-color: #caf0f8;
    width: 900px;
    margin: 20px auto;
}

.cabecera{
    background-color: #0077b6;
    border: 1px double gray;
    padding: 20px;
}

.seccion{
    float: left;
    width: 600px;
    margin: 10px;

}


article{
    background-color: #fdf0d5;
    border: 1px solid #669bbc;
    margin-bottom: 15px;
    padding: 20px;

}

time{
    color: #669bbc;
}

.article footer{
    text-align: right;
}

#idreferencias{
    width: 200px;
    float: right;
    margin: 20px 0px;
    border: 1px solid #003049;
    margin-right: 40px;

}

.pie{
    clear: both;
}

#idreferencias blockquote{
    border: 1px solid black;
    padding: 12px;
    background-color: #fdf0d5;
    margin-bottom: 12px;
}

img{
    width: 120px;
    height: 100px;
    margin: 20px auto;
}